<% show_post ||= false %>

<p>
  <em><%= comment.body %></em>
</p>
<hr />
<p>
  <small>
    From <%= link_to comment.creator.username, user_path(comment.creator) %>
    <% if show_post %>
      on
      <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <%= comment.created_at %>
  </small>
</p>
