<% show_post ||= false %>

<p id='comment'>
  <em><%= comment.body %></em>
</p>
<hr>
<p>
  <small>
    <% if show_post %>
      On
      <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <%= comment.created_at %>
  </small>
</p>
