<div class='container'>
  <div class='row'>
    <div class='col-md-2 col-md-offset-1'>
      <%= image_tag(current_user.avatar.profile_avatar,
                    class: 'img-thumbnail')%>
    </div>
    <div class='col-md-8'>
      <h1><%= current_user.username %></h1>
      <hr>
      <h2><%= current_user.time_zone %></h2>
    </div>
  </div>
</div>
