<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <h1>Welcome Carrierwave!</h1>
      <div>
        <code>image_tag(current_user.avatar.nav_avatar)</code>
      </div>
      <div>
        <code>image_tag(current_user.avatar.post_avatar)</code>
      </div>
      <div>
        <code>image_tag(current_user.avatar.profile_avatar)</code>
      </div>
      <div>
        <code>image_tag(current_user.avatar)</code>
      </div>
    </div>
  </div>
</div>
